* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1243px;
  width: 100%;
  margin: 0 auto;
}

.hero .container {
  position: relative;
}
