.why-us {
  position: relative;
  margin-top: 153px;
  &__card {
    position: absolute;
    top: 44%;
    width: 370px;
    height: 354px;
    background: #ffc94b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__text {
    width: 293px;
    color: #0e1b1b;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__black-card {
    margin-left: 200px;
    background: #0e1b1b;
    width: 1040px;
    height: 367px;
  }

  &__box {
    height: 100%;
    margin-left: 235px;
  }

  &__title {
    position: relative;
    margin-top: 35px;
    margin-left: 125px;
    display: inline-block;
    color: #fff;
    font-family: 'Playfair Display';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 110%;
      width: 305px;
      height: 3px;
      background: #fff;
    }
  }

  &__desc {
    margin-top: 23px;
    width: 600px;
    color: #c4c4c4;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    & span {
      color: #ffc94b;
      text-decoration: underline;
    }
  }

  &__list {
    margin-top: 78px;
    display: flex;
    gap: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    padding: 35px 32px 46px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  }

  &__item-text {
    color: #0e1b1b;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
